<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Meridia green technologies</h2>
                <h3 class="section-subheading text-muted">Helping people grow</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <span class="fa-stack fa-2x">
                        <a href="https://www.facebook.com/meridiatech" target="_blank">
                            <img class="img-responsive" src="img/contact/fb.png" alt="">
                        </a>
                    </span>
                    <span class="fa-stack fa-2x">
                        <a href="https://instagram.com/meridiatech" target="_blank">
                            <img class="img-responsive" src="img/contact/insta.png" alt="">
                        </a>
                    </span>
                </div>
            </div>
            <div class="col-lg-12 text-center">
                <h3 class="section-subheading">Want to hear more?</h3>

            </div>
        </div>
    </div>
</section>