<!-- Header 7 -->
<!-- <header class="bg-light header_7">
  <img src="img/window.jpg" srcset="img/window.jpg 2x" alt="The planthydra on a window sill"
    class="d-none d-md-block ml-700 h-full absolute header_7_bg" data-aos-duration="500" data-aos="fade-down"
    data-aos-delay="750" />
  <div class="mw-570 pt-230 pb-165 inner">
    <div class="mb-3 logo d-block d-xl-none logo_mobile" data-aos-duration="500" data-aos="fade-down"
      data-aos-delay="0"><span><img style="height: 72px; width: 72px;" src="img/icon.png" srcset="img/icon.png 2x" />
    </div>
    <h1 data-aos-duration="500" data-aos="fade-down" data-aos-delay="0">You've found it.</h1>
    <div style="min-height: 115px;" class="mt-20 mw-500 color-heading f-18 medium op-7 text-adaptive">
      <div data-aos-duration="500" data-aos="fade-down" data-aos-delay="250">
        The smart home plant watering system
      </div>
    </div>
    <div class="mt-70 d-block d-sm-flex flex-wrap justify-content-center justify-content-md-start buttons"
      data-aos-duration="500" data-aos="fade-down" data-aos-delay="500">
      <a href="#join" class="btn lg action-1">Join us</a>
      <a href="#basics" class="btn ml-10 lg border-gray color-main">Learn More</a>
    </div>
  </div>
</header> -->
<header class="bg-light header_c header_7">
  <div class="title_c pt-230 pb-20 px-50">
    <div style="margin: 0 auto;">
      <div class="logo_c"><img class="mb-3 logo d-block" data-aos-duration="500" data-aos="fade-down" data-aos-delay="0"
          style="height: 72px; width: 72px;" src="img/icon.png" srcset="img/icon.png 2x" /></div>
      <h1 data-aos-duration="500" data-aos="fade-down" data-aos-delay="0">You've found it.</h1>
      <div class="mt-20 mw-500 color-heading f-18 medium op-7 text-adaptive">
        <div class="subtitle_c" data-aos-duration="500" data-aos="fade-down" data-aos-delay="250">The smart home plant
          watering system</div>
      </div>
      <div class="mt-70 d-block d-sm-flex flex-wrap justify-content-center justify-content-md-start buttons"
        data-aos-duration="500" data-aos="fade-down" data-aos-delay="500">
        <a href="#join" class="btn lg action-1">Join us</a>
        <a href="#basics" class="btn ml-10 lg border-gray color-main learnmore">Learn More</a>
      </div>
    </div>
  </div>
  <div class="title-image_c"></div>
</header>

<!-- Feature 1 -->
<section id="basics" class="pt-105 pb-45 text-center feature_1 lightgray-bkg">
  <div class="container px-xl-0">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <h2 class="mb-45 small" data-aos-duration="500" data-aos="fade-down" data-aos-delay="0">The Basics</h2>
        <div class="row justify-content-center">
          <div class="col-md-4 mb-50" data-aos-duration="500" data-aos="fade-down" data-aos-delay="250">
            <i class="fas fa-magic f-60 action-3"></i>
            <div class="mt-20 mb-25 f-22 title">Automatic <br>Watering</div>
            <div class="color-heading text-adaptive">
              Set a schedule to water your plants.
              Or just trigger watering any time from your phone
            </div>
          </div>
          <div class="col-md-4 mb-50" data-aos-duration="500" data-aos="fade-down" data-aos-delay="500">
            <i class="fas fa-chart-area f-60 action-3"></i>
            <div class="mt-20 mb-25 f-22 title">Environment<br>Data</div>
            <div class="color-heading text-adaptive">
              Know if your plant has enough light,
              if the temperature is good,
              if there's enough air humidity
            </div>
          </div>
          <div class="col-md-4 mb-50" data-aos-duration="500" data-aos="fade-down" data-aos-delay="750">
            <i class="fas fa-mobile-alt f-60 action-3"></i>
            <div class="mt-20 mb-25 f-22 title">App<br>Driven</div>
            <div class="color-heading text-adaptive">
              Configure and control from the mobile app.
              Get notifications about the plant's health and compare with others
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Feature 28 -->
<section class="pt-105 pb-95 bg-light text-center feature_28">
  <div class="container px-xl-0">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-8">
        <h2 class="small" data-aos-duration="500" data-aos="fade-down" data-aos-delay="0">Simple and elegant</h2>
        <div class="mt-25 mb-50 f-18 medium color-heading text-adaptive description" data-aos-duration="500"
          data-aos="fade-down" data-aos-delay="250">
          Ceramics and wood with magnetic connectors give
          the PlantHydra a premium feel while the plug and play operation makes
          getting started super simple.
        </div>
      </div>
      <div class="col-xl-10" data-aos-duration="500" data-aos="fade-down" data-aos-delay="750">
        <img src="img/feature/kitchen.jpg" srcset="img/feature/kitchen.jpg 2x"
          alt="The planthydra on the kitchen counter, waternig aromatics" class="mt-70 img-fluid radius10 img" />
      </div>
    </div>
  </div>
</section>

<!-- Feature 15 -->
<section class="pt-130 pb-75 bg-light feature_15">
  <div class="container px-xl-0">
    <div class="row">
      <div class="col-xl-1">
      </div>
      <div class="col-xl-4 col-lg-5 col-md-7">
        <h2 class="mt-25 mb-25 small" data-aos-duration="500" data-aos="fade-down" data-aos-delay="0">Smart.<br> App
          driven
        </h2>
        <div class="f-22 color-heading text-adaptive" data-aos-duration="500" data-aos="fade-down" data-aos-delay="250">
          It's so much more than a holiday watering system. It's the first plant oriended smart home appliance.
        </div>
        <div class="row">
          <div class="mt-55 col-lg-11 col-md-12 col-sm-9 block" data-aos-duration="500" data-aos="fade-down"
            data-aos-delay="500">
            <div class="mb-15 f-18 medium title">
              <i class="fas fa-check mr-10"></i>
              <span>The growing platform</span>
            </div>
            <div class="color-heading text-adaptive">
              See how your plant is fairing compared to other plats of its kind
              from other growers. Get basic plant growing advice and contribute
              to a growing community
            </div>
          </div>
          <div class="mt-55 col-lg-11 col-md-12 col-sm-9 block" data-aos-duration="500" data-aos="fade-down"
            data-aos-delay="750">
            <div class="mb-15 f-18 medium title">
              <i class="fas fa-check mr-10"></i>
              <span>Upgrade your home</span>
            </div>
            <div class="color-heading text-adaptive">
              Smart home integration means you can control other devices
              based on the data from the planthydra like turning on aircon
              when it's too warm or the humidifier when it's too dry.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-5 text-md-right" data-aos-duration="500" data-aos="fade-down" data-aos-delay="1000">
        <img src="img/appui.png" srcset="img/appui.png 2x" alt="The planthydra app control screen"
          class="img-fluid bg" />
      </div>
    </div>
  </div>
</section>

<!-- Content 17 -->
<section class="pt-100 pb-100 bg-dark content_17">
  <style>
    .content_17 {
      background-image: url(img/cover.jpg);
    }

    @media(-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 120dpi) {
      .content_17 {
        background-image: url(img/cover.jpg);
      }
    }
  </style>
  <div class="container px-xl-0">
    <div class="row justify-content-center h-240">
    </div>
  </div>
</section>

<!-- Form 11 -->
<section id="join" class="pt-100 pb-100 bg-light text-center form_11">
  <div class="container px-xl-0">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <form action="form-handler.php" method="post" class="radius10 pt-70 pb-55 px-30">
          <h2 class="mb-40 small" data-aos-duration="500" data-aos="fade-down" data-aos-delay="0">Join our Community
          </h2>
          <div data-aos-duration="500" data-aos="fade-down" data-aos-delay="250">
            <input type="email" name="email" placeholder="Your email" required="required"
              class="input mb-20 mr-10 w-400 lg border-gray focus-action-1 color-heading placeholder-heading text-center text-md-left" />
            <button class="btn lg action-1">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Footer 1 -->
<footer class="pt-75 pb-65 bg-light text-center footer_1">
  <div class="container px-xl-0">
    <div class="row justify-content-between align-items-center lh-40 links">
      <div class="col-lg-4 col-sm-6 text-sm-right text-lg-left order-1 order-lg-0" data-aos-duration="500"
        data-aos="fade-down" data-aos-delay="250">
        <a href="#" class="link mr-15 color-main">About</a>
        <a href="/privacyPolicy" class="link mx-15 color-main">Policy</a>
        <a href="/termsAndConditions" class="link mx-15 color-main">Terms</a>
      </div>
      <div class="mb-10 mb-lg-0 col-lg-auto order-0" data-aos-duration="500" data-aos="fade-down" data-aos-delay="0">
        <a href="#" class="link logo color-main">PlantHydra</a>
      </div>
      <div class="col-lg-4 col-sm-6 text-sm-left text-lg-right order-2 order-lg-0" data-aos-duration="500"
        data-aos="fade-down" data-aos-delay="250">
        <span class="mr-15 color-main">Find out more</span>
        <a href="https://instagram.com/planthydra" target="_blank" class="mx-15 link color-main">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://fb.me/planthydra" target="_blank" class="mx-15 link color-main">
          <i class="fab fa-facebook-square"></i>
        </a>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="mt-10 col-xl-4 col-lg-5 col-md-6 col-sm-8" data-aos-duration="500" data-aos="fade-down"
        data-aos-delay="0">
        <div class="color-heading text-adaptive">
          Be sure to take a look at our Terms of Use <br>
          and Privacy Policy
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- forms alerts -->
<div class="alert alert-success alert-dismissible fixed-top alert-form-success" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
      aria-hidden="true">&times;</span></button>
  Thanks for joining! You'll be getting an email shortly.
</div>
<div class="alert alert-warning alert-dismissible fixed-top alert-form-check-fields" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
      aria-hidden="true">&times;</span></button>
  Please, fill in required fields.
</div>
<div class="alert alert-danger alert-dismissible fixed-top alert-form-error" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
      aria-hidden="true">&times;</span></button>
  <div class="message">An error occurred while sending data :( Please try again or leave us a message on fb/instagram.
  </div>
</div>