<!-- Header 18 -->
<header class="pt-205 pb-160 bg-dark color-filter-dark-5 header_18">
  <style>
    .header_18 {
      background-image: linear-gradient(to right, rgba(132, 194, 81, 0.92), rgba(132, 194, 81, 0)), url(img/cover.jpg);
    }

    @media(-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 120dpi) {
      .header_18 {
        background-image: linear-gradient(to right, rgba(132, 194, 81, 0.92), rgba(132, 194, 81, 0)), url(img/cover.jpg);
      }
    }
  </style>
  <nav class="header_menu_18 pt-30 pb-30 mt-30">
    <div class="container px-xl-0">
      <div class="row justify-content-center">
        <div class="col-xl-10">
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-3" data-aos-duration="400" data-aos="fade-down" data-aos-delay="600">
              <div class="logo color-white">PlantHydra</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container px-xl-0 color-white">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="row">
          <div class="col-lg-8">
            <div class="mb-3 logo d-block d-xl-none color-white logo_mobile" data-aos-duration="400"
              data-aos="fade-down" data-aos-delay="0">PlantHydra</div>
            <h1 class="big" data-aos-duration="400" data-aos="fade-down" data-aos-delay="0">You&apos;ve found it.</h1>
            <div class="row" data-aos-duration="400" data-aos="fade-down" data-aos-delay="200">
              <div class="col-lg-10 mt-25 f-22 op-7 text-adaptive">
                <div>That little extra help you need with your plants.
                </div>
              </div>
            </div>
            <div class="mt-35" data-aos-duration="400" data-aos="fade-down" data-aos-delay="400">
              <a href="#" style="visibility: hidden;" class="btn mr-20 mb-10 lg action-white">Get Started</a>
              <a href="#" style="visibility: hidden;" class="btn mb-10 lg border-transparent-white color-white">Learn
                More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Content 10 -->
<section class="pt-100 pb-90 bg-light content_10">
  <div class="container px-xl-0">
    <div class="row flex-row-reverse justify-content-end">
      <div class="col-xl-3 col-lg-4 col-md-7">
        <div class="mb-10 f-14 semibold text-uppercase sp-20 color-heading text-adaptive" data-aos-duration="400"
          data-aos="fade-down" data-aos-delay="200">PlantHydra helps with the little extras that make the difference
          between a happy plant and a dead plant.
        </div>
      </div>
      <div class="col-xl-7 col-lg-8">
        <div class="f-22 text-adaptive" data-aos-duration="400" data-aos="fade-down" data-aos-delay="0">Ever wondered
          why your plants just don&apos;t seem to make it? </br>
          Maybe too much water? Or too little?</br>
          Maybe there&apos;s not enough light? Too much light?</br>
          Maybe it&apos;s gotten hotter the past few weeks and you&apos;re still watering like it&apos;s winter?
        </div>
      </div>
      <div class="col-xl-1">
      </div>
    </div>
  </div>
</section>

<!-- Feature 26 -->
<section class="pt-100 pb-100 bg-light feature_26">
  <div class="container px-xl-0">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-5 col-md-5 col-sm-7" data-aos-duration="400" data-aos="fade-down" data-aos-delay="600">
        <img src="img/window.jpg" srcset="img/window.jpg" alt="" class="img-fluid radius10 img" />
      </div>
      <div class="col-lg-6 col-md-10">
        <h2 class="mt-40 mt-lg-0 mb-25" data-aos-duration="400" data-aos="fade-down" data-aos-delay="0">Plant Hydra</h2>
        <div data-aos-duration="400" data-aos="fade-down" data-aos-delay="200">
          <div class="f-22 color-heading op-7 text-adaptive">
            <ul>
              <li>Waters your plant(s) on a schedule or any time </li>
              <li>Knows if it&apos;s the right environment. Light, temperature and air humidity</li>
              <li>Looks good while doing it</li>
              <li>It&apos;s got an app, so the possibilities are endless</li>
            </ul>
          </div>
          <span href="#" class="mt-30 mb-120 link action-3 f-18 medium op-7">
          </span>
        </div>
        <div class="row justify-content-between">
          <div class="mb-40 mb-sm-0 col-sm-6 block" data-aos-duration="400" data-aos="fade-down" data-aos-delay="400">
            <div class="mb-20 f-14 semibold text-uppercase sp-20 title">Simple</div>
            <div class="color-heading text-adaptive">Plug it in, add water and put the hose in the pot
            </div>
          </div>
          <div class="mb-40 mb-sm-0 col-sm-6 col-xl-5 block" data-aos-duration="400" data-aos="fade-down"
            data-aos-delay="600">
            <div class="mb-20 f-14 semibold text-uppercase sp-20 title">Elegant</div>
            <div class="color-heading text-adaptive">Ceramics and wood with
              magnetic connectors give the planthydra
              a premium feel
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Feature 14 -->
<section class="pt-105 pb-90 bg-light feature_14">
  <div class="container px-xl-0">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <h2 class="mb-60 small text-center" data-aos-duration="400" data-aos="fade-down" data-aos-delay="0">App driven
        </h2>
      </div>
    </div>
    <div class="row no-gutters justify-content-center align-items-center">
      <div class="col-xl-1">
      </div>
      <div class="col-xl-2 col-lg-3 col-md-8 mb-50 text-center text-lg-left align-self-start" data-aos-duration="400"
        data-aos="fade-down" data-aos-delay="400">
        <div class="mt-85 f-22 text-adaptive main_title">It&apos;s so much more than a plant watering system
        </div>
      </div>
      <div class="col-lg-6 text-center" data-aos-duration="400" data-aos="fade-down" data-aos-delay="200">
        <img src="img/appui.png" srcset="img/appui.png 2x" alt="" class="img-fluid bg" />
      </div>
      <div class="col-lg-3 col-md-6 text-center text-lg-left" data-aos-duration="400" data-aos="fade-down"
        data-aos-delay="600">
        <div class="mb-60 block">
          <div class="mb-15 f-14 semibold text-uppercase sp-20 title">control from anywhere</div>
          <div class="color-heading text-adaptive">Change settings or just make sure everything is as expected
          </div>
        </div>
        <div class="mb-60 block">
          <div class="mb-15 f-14 semibold text-uppercase sp-20 title">In app tips</div>
          <div class="color-heading text-adaptive">Get tips tailored for your needs and the plants that you grow.
          </div>
        </div>
        <div class="block">
          <div class="mb-15 f-14 semibold text-uppercase sp-20 title">The green smart home</div>
          <div class="color-heading text-adaptive">Later features include smart home integration so the device can be
            used as a weather station
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Content 21 -->
<section class="pt-80 pb-60 bg-light content_21">
  <div class="container px-xl-0">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-11" data-aos-duration="400" data-aos="fade-down" data-aos-delay="0">
        <img src="img/feature/kitchen.jpg" srcset="img/feature/kitchen.jpg 2x" alt="" class="img-fluid radius10" />
        <div class="mt-10 f-14 semibold text-uppercase sp-20 color-heading text-center text-sm-right">Plant hydra
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Form 11 -->
<section class="pt-100 pb-100 bg-light text-center form_11">
  <div class="container px-xl-0">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <form action="form-handler.php" method="post" class="radius10 pt-70 pb-55 px-30">
          <h2 class="mb-40 small" data-aos-duration="400" data-aos="fade-down" data-aos-delay="0">Join our community
          </h2>
          <div data-aos-duration="400" data-aos="fade-down" data-aos-delay="200">
            <input type="email" name="email" placeholder="Your email" required="required"
              class="input mb-20 mr-10 w-400 lg border-gray focus-action-1 color-heading placeholder-heading text-center text-md-left" />
            <button class="btn lg action-1">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Footer 8 -->
<footer class="pt-45 pb-45 bg-dark color-white text-center footer_8">
  <div class="container px-xl-0">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-3 text-xl-left" data-aos-duration="400" data-aos="fade-down" data-aos-delay="200">
        <a href="#" class="link logo color-white">PlantHydra</a>
      </div>
      <div class="mt-10 mb-10 my-xl-0 col-xl-6 lh-40" data-aos-duration="400" data-aos="fade-down" data-aos-delay="0">
        <a href="#" class="link f-14 text-uppercase sp-20 color-white mr-15">Tools</a>
        <a href="#" class="link f-14 text-uppercase sp-20 color-white mx-15">FAQ</a>
        <a href="#" class="link f-14 text-uppercase sp-20 color-white mx-15">Privacy</a>
        <a href="#" class="link f-14 text-uppercase sp-20 color-white mx-15">Terms &amp; Conditions</a>
        <a href="#" class="link f-14 text-uppercase sp-20 color-white ml-15">Contact</a>
      </div>
      <div class="col-lg-3 text-xl-right socials" data-aos-duration="400" data-aos="fade-down" data-aos-delay="200">
        <a href="#" class="mr-15 w-40 btn sm border-transparent-white px-0">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-15 w-40 btn sm border-transparent-white px-0">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="ml-15 w-40 btn sm border-transparent-white px-0">
          <i class="fab fa-google"></i>
        </a>
      </div>
    </div>
  </div>
</footer>

<!-- forms alerts -->
<div class="alert alert-success alert-dismissible fixed-top alert-form-success" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
      aria-hidden="true">&times;</span></button>
  Thanks for your message!
</div>
<div class="alert alert-warning alert-dismissible fixed-top alert-form-check-fields" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
      aria-hidden="true">&times;</span></button>
  Please, fill in required fields.
</div>
<div class="alert alert-danger alert-dismissible fixed-top alert-form-error" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
      aria-hidden="true">&times;</span></button>
  <div class="message">An error occurred while sending data :( Please, check if your hosting supports PHP and check how
    to set form data sending <a href="https://designmodo.com/startup/documentation/#form-handler" target="_blank"
      class="link color-transparent-white">here</a>.</div>
</div>