<!-- Dream Section -->
<section id="dream">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Helping people grow</h2>
                <h3 class="section-subheading">Do things that make you feel great, focus more on the good
                    than the bad, learn to grow sustainably, to trust yourself and trust in the future.
                    Even when things are bad, know that you're working to make things better. And you're not the only
                    one.</h3>
            </div>
        </div>
    </div>
</section>