<head>
    <title>Meridia Green Technologies</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="IoT plant growing systems for indoors and small spaces" />
    <meta name="keywords" content="Ghivece inteligente suporturi plante timisoara IoT Romania gradina acasa" />
    <meta name="author" content="Meridia green technologies" />

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:300,400,700,800|Open+Sans:300,400,700"
        rel="stylesheet">

    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">
    <meta name="google-site-verification" content="5z6fIPn6kEOG0EoBTKmZKc4N3ESc2jEztRtP4VtReIU" />

</head>