<!-- About Section -->
    <section id="timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted">What we're planning and when it's available.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/beginning.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Nov 2018</h4>
                                    <h4 class="subheading">Humble Beginings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We started stuff here. Took the chips and put stuff together and used Blynk</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/prototype.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Feb 2019</h4>
                                    <h4 class="subheading">Prototype ready</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Everyone wants to see. It's not pretty, but DAMN is it techy?!?!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/beta.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2019</h4>
                                    <h4 class="subheading">Beta testing open</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Wanna try out the first stable versions? Get them now at a fraction of the price. Be an early contributor and get the chance to influence the apartment garden of tomorrow. You'll also get trade-ins when the final version arrives.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/preorder.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2019</h4>
                                    <h4 class="subheading">Preorders</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Sign up to get the final version and take advantage of preferential prices and further goodies</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2019</h4>
                                    <h4 class="subheading">Shipping pots and hubs</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Shipping preorders on the simpler products. They come with full first version software and all updates are free.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2019</h4>
                                    <h4 class="subheading">Shipping towers and planters</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">These are our more complicated products. They ship later because they require more time for product development. The tower is an innovation in terms of hardware. You won't find something like it anywhere else.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/knowledge.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Oct 2019</h4>
                                    <h4 class="subheading">Knowledge base release</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This is when things get serious. Now you'll be able to learn while growing your plant. Get schedules from the app, learn when to plant and when to pick, document steps, share your knowledge and success.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>